/publish
/src/TestResults
/src/.vs
/src/Sc.Cmd/bin/Debug
/src/SC.Web/obj
/src/SC.Web/bin
/src/SC.Test/bin
/src/SC.Test/obj
/src/SC.Service/bin
/src/SC.Service/obj
/src/SC.Repository/obj
/src/SC.Repository/bin
/src/SC.Model/obj
/src/SC.Model/bin
/src/SC.Common/bin
/src/SC.Common/obj
/src/Sc.Cmd/bin
/src/Sc.Cmd/obj
