@model Scanner
@{
}

@section css
{

    <link href="~/Assets/vendor/Highcharts/css/highcharts.css" rel="stylesheet" />
    <style>
        #chart3 {
            width: 100%;
        }
    </style>
}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div id="chart3"></div>
    </div>
</div>

@section js
{
    <script src="~/Assets/vendor/Highcharts/highcharts.js"></script>
    <script src="~/Assets/vendor/Highcharts/modules/boost.js"></script>
    <script src="~/Assets/vendor/Highcharts/modules/exporting.js"></script>
    <script>

        var chart;
        var timer;
        var id = 0;

        function fillChart() {

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetData")/" + id,
                data: {},
                async: true,
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function (xhr) {
                },
                success: function (data, status, xhr) {

                    if (!data) {
                        clearInterval(timer);

                        return;
                    }

                    var rows = [];
                    for (var i = 0; i < data.length; i++) {
                        rows.push([data[i].x, data[i].y]);
                    }

                    if (chart) {

                        chart.series[0].remove();
                        chart.addSeries({
                            type: 'scatter',
                            data: rows
                        }, false);
                        chart.redraw();

                    } else {

                        chart = Highcharts.chart('chart3',
                            {
                                title: {
                                    text: ''
                                },
                                legend: {
                                    enabled: false
                                },
                                boost: {
                                    useGPUTranslations: true,
                                    usePreAllocated: true
                                },
                                credits: {
                                    enabled: false
                                },
                                chart: {
                                    zoomType: 'xy'
                                },
                                yAxis: {
                                    title: {
                                        text: 'Y-axis'
                                    },
                                    gridLineWidth: 1,
                                    startOnTick: true,
                                    endOnTick: true,
                                    labels: {
                                        formatter: function () {
                                            if (this.value != 0 && (this.value > 1.e4 || this.value < 1.e-4)) {
                                                return this.value.toExponential();
                                            } else {
                                                return this.value;
                                            }
                                        }
                                    }
                                },
                                xAxis: {
                                    title: {
                                        text: 'X-axis'
                                    },
                                    gridLineWidth: 1,
                                    startOnTick: true,
                                    endOnTick: true,
                                    labels: {
                                        formatter: function () {
                                            if (this.value != 0 && (this.value > 1.e4 || this.value < 1.e-4)) {
                                                return this.value.toExponential();
                                            } else {
                                                return this.value;
                                            }
                                        }
                                    }
                                },
                                plotOptions: {
                                    line: {
                                        lineWidth: 1
                                    },
                                    series: {
                                        animation: false,
                                        enableMouseTracking: true,
                                        marker: { radius: 2 },
                                        step: 'center'
                                    }
                                },
                                tooltip: {
                                    formatter: function () {
                                        var x = this.x;
                                        var y = this.y;
                                        if (x != 0 && (x > 1.e4 || x < 1.e-4)) {
                                            x = x.toExponential(6);
                                        }
                                        if (y != 0 && (y > 1.e4 || y < 1.e-4)) {
                                            y = y.toExponential(6);
                                        }
                                        return '(<b>' + x + '</b>; <b>' + y + '</b>)';
                                    }
                                },
                                series: [
                                    {
                                        type: 'scatter',
                                        data: rows
                                    }
                                ],

                            });

                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.error(thrownError.responseText);
                },
                complete: function () {
                }
            });
        }

        $(function () {

            //init first chart data
            fillChart();

            //run timer
            timer = setInterval(function () {

                //inc id
                id++;

                //load values
                fillChart();

            },
                1000);


        });
    </script>
}