@model Scanner
@{
    ViewBag.Title = "C3";
}

@section css
{
    <link href="~/Assets/vendor/c3/c3.min.css" rel="stylesheet" />
    <style>
        #chart2 {
            width: 100%;
            height: 600px;
        }
    </style>
}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div id="chart2"></div>
    </div>
</div>

@section js
{
    <script src="~/Assets/vendor/d3/d3.min.js"></script>
    <script src="~/Assets/vendor/c3/c3.min.js"></script>
    <script>

        var chart;
        var id=0;
        var rows = [["x"],["y"]];
        var timer;

        function fillChart() { 

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetData")/" + id,
                data: {},
                async: true,
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function(xhr) {
                },
                success: function(data, status, xhr) {


                    if (!data) {
                        clearInterval(timer);

                        return;
                    }

                    for (var i = 0; i < data.length; i++) {
                        rows[0].push(data[i].x);
                        rows[1].push(data[i].y); 
                    }

                    if (chart) {
                        chart.load({
                            columns:rows
                        });
                    } else {
                        chart = c3.generate({
                            bindto: '#chart2',
                            data: {
                                xs: {
                                    y:"x"
                                },
                                columns: rows,
                                type: 'scatter'
                            },
                            grid: {
                                y: {
                                    lines: [{value: 0}]
                                }
                            },
                            zoom: {
                                enabled: true
                            },
                            subchart: {
                                show: true
                            },
                            legend: {
                                show: false
                            },
                            axis: {
                                x: {
                                    label: 'X-axis',
                                    position: 'outer-right'
                                },
                                y: {
                                    label: 'Y-axis',
                                    position: 'outer-middle'
                                }
                            },
                            tooltip: {
                                format: {
                                    title: function(d) {
                                        return 'x | ' + d;
                                    }
                                }
                            }
                        });
                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    console.error(thrownError.responseText);
                },
                complete: function() {
                }
            });
        }

        $(function() {

            //init first chart data
            fillChart();

            //run timer
            timer = setInterval(function() {

                //inc id
                id++;

                //load values
                fillChart();

            },1000);

        });
    </script>
}